# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#	RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !^/(user/webroot/)?(css|js|files|flash|fonts|images|img|sound|video|mobapp/css|mobapp/images|mobapp/js|mobapp_android/images|mobapp_android/js|mobile/css|mobile/images|mobile/fonts|mobile/js|pr/css|pr/images|ps/js)/(.*)$
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
